body{
	background-color: black;
}
#container{
	margin-left: 450px;
	margin-top: 100px;
	cursor: pointer;
	color: white;
}
#login{
	width: 300px;
	text-align: left;
	border:2px solid #ccc;
	padding:10px 40px 25px;
	margin-top:70px;
	label{
		display: inline-block;
		padding:20px;
		color: white;
		padding:10px;
	}
}
form{
	padding-top: 20px;
}
#register {
	list-style: none;
	text-align: right;
	li{
		cursor: pointer;
	}
	a{
		text-decoration: none;
		color: red;
		cursor: pointer;
	}
}
h2{
	background-color:Blue;
	text-align:center;
	border-radius:10px 10px 0 0;
	margin:-10px -40px;
	padding:15px
}
input[type=text],input[type=password] {
	width:99.5%;
	padding:10px;
	margin-top:8px;
	border:1px solid #ccc;
	padding-left:5px;
	font-size:16px;
	font-family:raleway
}
input[type=submit] {
	width:100%;
	background-color:#FFBC00;
	color:#fff;
	border:2px solid #FFCB00;
	padding:10px;
	font-size:20px;
	cursor:pointer;
	border-radius:5px;
	margin-bottom:15px;
	margin : 10px;
}
.register-form{
	width: 300px;
	text-align: left;
	border:2px solid #ccc;
	padding:10px 40px 25px;
	margin-top:70px;
	display: none;
	label{
		color: #fff;
	}
}
input[type=email] {
	width:99.5%;
	padding:10px;
	margin-top:8px;
	border:1px solid #ccc;
	padding-left:5px;
	font-size:16px;
	font-family:raleway;
}
label{
	color:#fff;
}